body {
  display: flex;
  flex-direction: column;
}
header {
  display: flex;
  justify-content: center;
  align-content: center;
}

header div {
  text-align: center;
  padding: 1rem;
}

header div:first-child {
  text-align: left;
}

header div:last-child {
  text-align: right;
}

#container {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.hidden {
  display: none;
}

#project-todo-container {
  display: grid;
  grid-template-columns: 1fr 6fr;
  gap: 10px;
}

#project-cards-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 200px;
  justify-content: start;
}

#project-cards {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.project-card {
  border: 1px solid black;
}

.project-card:hover {
  cursor: pointer;
  background-color: rgba(0, 251, 255, 0.5);
}

#project-container {
  display: flex;
  flex-direction: column;
}

#project-todos {
  display: grid;
  gap: 2px;
}

.todo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
}

.priority-buttons {
  display: flex;
  flex-direction: row;
}

.priority-buttons button {
  width: 20px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

.priority-buttons button:hover {
  cursor: pointer;
}

.project-card {
  text-align: center;
}

#project-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

#project-container .project-details {
  justify-content: center;
  text-align: left;
}

#add-project-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#add-project-container button {
  min-width: 100%;
}

#add-project-container input {
  max-width: 200px;
}

#add-project-container textarea {
  resize: none;
  max-width: 200px;
}

.selected {
  background-color: aqua;
}

.todo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.todo-header {
  display: flex;
  width: 100%;
}

.todo .left,
.todo .right {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 50%;
}

.todo .left {
  justify-content: flex-start;
}

.todo .right {
  justify-content: flex-end;
}

.todo-content {
  width: 100%;
  text-align: left;
  padding: 10px;
}

.todo:first-child .priority-up {
  display: none;
}

.todo:last-child .priority-down {
  display: none;
}
